@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  @apply bg-[#ffbb5d] text-white;
}

/* For Firefox */
::-moz-selection {
  @apply bg-[#ffbb5d] text-white;
}

/* For WebKit browsers (Chrome, Safari) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.gt-super-font {
  font-family: "GT Super Display", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}